.landing {
    width: 100%;
    height: 100vh;
    background: url("../assets/background.png");
    background-size: cover;
    background-position: center;
}

.landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}

.nav__item--logo {
    width: 150px;
}