#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

nav {
    position: absolute;
    width: 80%;
}


.landing {
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.content {
    padding: 100px 0px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.content > * {
    margin: 20px 0px;
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.content__text p {
    margin-bottom: 10px;
}

.content--center {
    text-align: center;
    width: 75%;
    margin: 0 auto;

    & > * {
        margin: 20px auto;
    }
}

.content--left {
    width: 45%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.engineering {
    width: 100%;
    background-image: url("../assets/blueprints.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.engineering .wrapper {
    padding: 300px 0;
    background: rgba(0,0,0,.35);
}


.button__float {
    float: left;
    margin-right: 20px;

    &:last-of-type {
        margin-right: none;
    }
}

footer {
    width: 100%;
    background: #0f0f0f;
    position: relative;
}

.footer__flex {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.footer__flex__item1 {
    flex: 0 0 45%;

    p {
        width: 60%;
    }
}

.footer__flex__item2, .footer__flex__item3, .footer__flex__item4  {
    flex: 0 0 12%
}

.footer__logo {
    margin-bottom: 10px;
    width: 150px;
}

.delivery {
    width: 100%;
    background-image: url("../assets/takeoff.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.customize .wrapper {
    display: flex;
    padding: 80px 0;
}

.customize .content {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.rockets {
    align-items: flex-end;
    justify-content: flex-end;
}

.palette {
    display: grid;
    width: 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.palette__swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.palette__swatch--1 {
    background: red;
}

.palette__swatch--2 {
    background: orange;
}

.palette__swatch--3 {
    background: yellow;
}

.palette__swatch--4 {
    background: orange;
}

.palette__swatch--5 {
    background: green;
}

.palette__swatch--6 {
    background: blue;
}

.palette__swatch--7 {
    background: purple;
}

.palette__swatch--8 {
    background: pink;
}

.palette__swatch--9 {
    background: grey;
}

.palette__swatch--10 {
    background: darkcyan;
}

.subscribe {
    background-image: url("../assets/subscribe.png");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    width: 100%;
}

.subscribe .wrapper {
    display: flex;
    justify-content: flex-end;
}

.email {
    border: none;
    -webkit-appearance: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    display: block;
    padding: 7px 10px;
    margin: 20px 0;
    text-align: center;
}


.logo--mobile {
    display: none;
    padding-top: 20px;
    width: 150px;
}


.social-icons__list {
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
}

.social-icons__icon {
    padding: 20px 0px;
}

.social-icons__icon:hover {
    opacity: 0.5;
}