@media (max-width: 800px){

    .circles {
        width: 100%;
    }

    .engineering .flex {
        flex-direction: column;
    }

    .content {
        padding: 50px 0px;
        width: 80%;
    }
    

    .subscribe .wrapper {
        display: block;
    }

    .customize .wrapper {
        display: block;
    }

    .rockets {
        display: block;
        width: 60%;
        margin: 50px auto 0 auto;
    }
}

@media (max-width: 700px) {

    .circles {
        width: 100%;
    }

    .circle {
        position: relative;
        flex: 0 0 30%;
    }

    .wrapper {
        width: 90%;
    }

    .content {
        width: 100%;
    }

    .landing .content {
        width: auto;
    }

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    .footer__flex {
        flex-direction: column;

        p {
            width: 100%;
        }
    }

    .footer__flex__item1, .footer__flex__item2, .footer__flex__item3, .footer__flex__item4 {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .logo--mobile {
        display: block;
    }

    nav ul {
        display: none;
    }

    #nav-icon3 {
		display: block;
		z-index: 6;
	}

}


@media (max-width: 600px) {

    .circles {
        flex-direction: column;
        align-content: center;
        width: 50%;
    }

    .circle {
        margin: 20px 0;
    }
}